#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 100vh;
    border: 1px solid black;
    overflow: auto;
}

h1{
    text-align: center;
}

#taskInput{
    width: 300px;
}

.card{
    width: 300px;
    flex-direction: row;
}

.card-text{
    width: 75%;
}